<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<servlet>

		<servlet-name>controller</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>

	</servlet>

<servlet-mapping>
<servlet-name>controller</servlet-name>
<url-pattern>*.spring</url-pattern>

</servlet-mapping>

</web-app>